modules = ["python-3.10", "nix"]

hidden = [".pythonlibs"]
run = "/Run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "/Run"]
deploymentTarget = "gce"
ignorePorts = true

[workflows]
runButton = "Run Discord Bot"

[[workflows.workflow]]
name = "Run Discord Bot"
author = 45371944
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
